.header {
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  padding: 0;
}

.header-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: hsla(0, 0%, 100%, .6);
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.header-left-section {
  display: flex;
  align-items: center;
}

.header-right-section {
  display: flex;
  align-items: center;

}

.blog-header {

}

.blog-body {
  display: flex;
  padding-top: 15px;
  flex: 1;
}

.blog-footer {
  color: #fff;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 25px;
}

// Category sidebar
.blog-sidebar {
  flex: 0 0 200px;
}

.blog-sidebar-2 {
  flex: 0 0 300px;
  width: 300px;
}

.blog-content {
  flex-basis: calc(100% - 500px);
  width: calc(100% - 500px);
}

.blog-category-list {
  margin: 0;
  padding: 0;
}

.blog-category-list-item {
  border-radius: 2px;
  margin: 0;
  list-style-type: none;
  padding: 5px;
  border: 1px solid transparent;
  display: flex;
  align-items: flex-end;
  margin-bottom: 3px;
  cursor: pointer;

  &:hover,
  &--active {
    background-color: #e9e9e9;
    border: 1px solid darken(#f9f9f9, 10%);
  }
}

.blog-category-list-icon {
  border-style: none;
  max-width: 22px;
  border-radius: 3px;
}

.blog-category-topic-wrapper {

}

.blog-category-topic-icon {
  max-width: 100%;
  border-radius: 3px;
}

.blog-category-list-item-text {
  margin-left: 5px;
  font-size: 17px;
}

.blog-sidebar {
  position: sticky;
  top: 25px;
}

// Post card
.blog-post-card {
  @include wrapperShadow();
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 20px;
  background: #fff;
}

.blog-post-header {

}

.blog-post-header-left-side {
}

.blog-post-header-right-side {
  justify-content: flex-end;
  display: flex;
}

.blog-post-header-user-info {
  display: flex;
  align-items: flex-start;
}

.blog-post-header-user-avatar {
  max-width: 40px;
  border-radius: 50%;
}

.blog-post-header-user-text-wrapper {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.blog-post-header-user-name {
  flex: 1;
  color: #454545;
  font-weight: 600;
}

.blog-post-header-user-handle {
  color: #999;
}

.blog-btn {
  @include withoutOutline();
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
}

.blog-btn-upvote {
  background: #f5f8fd;
  color: #2481d7;
  border: 1px solid rgba(36, 129, 215, 0.4);
}

.blog-btn-follow {

}

.blog-btn-answer {

}

.blog-post-footer {
  margin-top: 15px;
}

.blog-post-footer .blog-btn {
  margin-right: 5px;
}

.blog-btn-icon {
  margin-right: 5px;
  font-size: 20px;
  color: #555;
}

.blog-btn-icon-upvote {
  color: inherit;
}